* {
    margin: 0;
    padding: 10px;
}
body {
    background-color: pink;
}
p {
    text-align: justify;
}

section {
    justify-content: center;
    width: 1000px;
    margin: auto;
    background-color: rgb(240, 177, 218);
    border-radius: 10px;
    box-shadow: 2px 2px 1px;
}

h1 {
    color: rgb(0, 60, 255);
}

.undertale {
    text-decoration: none;
}